h1 {
  text-decoration: underline;
  text-transform: capitalize;
}
h2 {
  text-transform: capitalize;
  text-decoration: overline;
}
.st {
  line-height: 30px;
}
.nd {
  word-spacing: 20px;
}
