body{
    border: black solid 20px;
}
.a{
    display: block;
    height: 200px;
    width: 300px;
    background-color: rgb(35, 5, 86);
    border-radius: 200px;
    margin: 40px;
    position: fixed;
}
.s{
    flex: 1;
    height: 400px;
    width: 300px;
    background-color: rgb(108, 11, 11);
    border-radius: 70px;
    margin: 40px;
}
.d{
    height: 400px;
    width: 300px;
    background-color: rgb(255, 2, 166);
    border-radius: 70px;
    margin: 40px;
}
.f{
    height: 400px;
    width: 300px;
    background-color: black;
    border-radius: 70px;
    margin: 40px;

}