* {
  margin: 0;
}
h1 {
  background-color: blueviolet;
  font-size: 60px;
  height: 200px;
  width: 200px;
}
.st {
  background-color: black;
  height: 300px;
  width: 300px;
}
.nd {
  background-color: red;
  height: 50%;
  width: 50%;
}
.rd {
  background-color: rgb(19, 8, 8);
  height: 50%;
  width: 50%;
}
.para {
  background-color: blue;
  height: 150px;
  width: 140px;
  overflow: hidden;
  overflow: scroll;
}
